@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


body {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

section#hero {
    text-align: center;
    background: #7fd667;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
        margin-top: 20px;
        color: white;
    }

    & img {
        width: 150px;
        height: 150px;
    }

    & a {
        color: white;
        text-decoration: none;
        background-color: #457E35;
        border: 2px solid #457E35;
        padding-inline: 20px;
        border-radius: 5px;
        vertical-align: center;
    }

    & a:hover {
        background-color: #35692A;
        border: 2px solid #35692A;
    }
}